{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="col-md-9 container mt-5">
    <form name="login_form" action="{% url 'login_user' %}" method="post">
        {% csrf_token %}
    
        <div class="row my-2">
            <div class="col-2">
                <label>username :</label>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" name="username">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label>Password :</label>
            </div>
            <div class="col-6">
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-sm btn-success" value="Login">Login Here
            </div>
        </div>
    </form> 
</div>
{% endblock %}